* {
  background-color: rgb(0, 0, 33);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
.navitems ul li a {
  color: white;
  background-color: rgb(18, 18, 62);
  font-family: "Abhaya Libre", serif;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
.navbar {
  width: 100%;
  z-index: 1;
  background-color: rgb(18, 18, 62);
}
.navbar.sticky {
  position: fixed;
  top: 0;
}

@media screen and (min-width: 480px) {
  .navbar h1 {
    background-color: rgb(18, 18, 62);
    margin-top: 3px;
    padding: 2px;
    font-family: "Abhaya Libre", serif;
    font-family: "Bebas Neue", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
  }
  .navitems {
    background-color: rgb(18, 18, 62);
    margin: auto;
  }
  .navitems ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
    background-color: rgb(18, 18, 62);
    margin: auto;
  }
  .navitems ul li {
    color: white;
    list-style-type: none;
    background-color: rgb(18, 18, 62);
  }
  .navitems ul li:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 480px) {
  .resume{
    display: none;
  }
  h1 {
    width: 100%;
    color: white;
    background-color: rgb(18, 18, 62);
    text-align: center;
    padding: 15px;
  }
  .navitems {
    background-color: rgb(18, 18, 62);
  }
  .navitems ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(18, 18, 62);
    gap: 10px;
  }
  .navitems ul li {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(18, 18, 62);
    color: white;
  }
}
